
.container-select {
    padding: .3vw;
    width: 9.5vw;
    height: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: .3vw;
    gap: .25vw;
}

.select-curso {
    padding: .1vw; /* Ajusta el padding como desees */
    font-size: .7vw;
    border: .1vw solid rgb(77, 190, 77);
    border-radius: .4vw;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
    outline: none; /* Eliminar el contorno predeterminado */
    cursor: pointer;
    font-weight: 400;
    width: auto;
}

.div-nombre-curso {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.nombre-curso {
    line-clamp: 3; /* Limitar a 3 líneas */
    display: -webkit-box; /* Configuración para usar line-clamp */
    -webkit-box-orient: vertical; /* Orientación de las cajas */
    -webkit-line-clamp: 3; /* Limitar a 3 líneas */
    overflow: hidden; /* Esconde el contenido que excede */
    text-overflow: ellipsis; /* Añade "..." al final del contenido */
    font-size: 0.82vw; /* Ajusta según necesidad */
    line-height: 1.2; /* Espaciado entre líneas */
    color: white;
    font-weight: 400;
}

.select-curso option {
    font-weight: 400;
}

@media screen and (max-width: 900px) {
    .nombre-curso {
        font-size: 2vw; /*2.4*/
        line-height: 2.15vw; /*0.6*/
    }

    .container-select {
        height: 11vw;
        width: 22vw;
        margin: .5vw;
        padding: 0.5vw;
        border-radius: 0.8vw;
        padding-bottom: .5vw;
    }

    .select-curso {
        padding: 0.25vw;
        font-size: 1.75vw;
        border-radius: 0.75vw;
        margin-bottom: 0.1vw;
    }
  }

