.horas {
    background-color: lightgreen;
    position: relative;
    color: #535353;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .2vw;
    width: 6.5vw;
    height: 2.25vw;
    font-weight: 700;
  }
  
/* Ajuste de posiciones de las horas */
  .horas:nth-child(n+8) {
    grid-column: 1; 
}

@media screen and (max-width: 900px) {
  .horas {
      height: 6.5vw;
      font-size: 1.75vw;
      line-height: 0.85;
      width: 5vw;
      border-radius: .5vw;
  }
}
  
