.container-horario {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    gap: .5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.container-tablero {
    width: 68%;
}

.container-selectores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 31%;
}

@media screen and (max-width: 900px) {
    .container-horario {
        flex-direction: column;
    }

    .container-tablero {
        width: 100%;
    }

    .container-selectores {
        width: 100%;
    }
}