.dias {
    background-color: lightsteelblue;
    padding: 0;
    font-size: 1vw;
    color: #2e2e2e;
    border-radius: .2vw;
    font-weight: 700;
}

@media screen and (max-width: 900px) {
    .dias    {
        font-size: 2vw;
        border-radius: 0.5vw;
    }
  }