.titulo-horario {
  font-size: 2.5vw;
  margin: 0;
  font-weight: 600;
  color: #6576b4;
}

body {
  background-color: white;
} 

.App {
  text-align: center;
}

@media screen and (max-width: 900px) {
  .titulo-horario {
      font-size: 4vw      ;
  }
  
}